<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>圧力履歴</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.0.1/dist/chartjs-plugin-annotation.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>
</head>
<body>
    <header class="dashboard-header">
        <h1>圧力履歴</h1>
        <div class="header-controls">
            <a href="/" class="history-link"><i class="fas fa-home"></i>メインページ</a>
            <a href="/logs" class="history-link"><i class="fas fa-terminal"></i>ログ確認</a>
            <div class="datetime-display">
                <div id="current-date">Loading...</div>
                <div id="current-time">Loading...</div>
            </div>
        </div>
    </header>

    <div class="log-container" style="grid-template-columns: 1fr; justify-items: center;">
        <div class="controls" style="margin-bottom: 1.5rem; text-align: center; display: flex; justify-content: center; align-items: center; gap: 0.5rem;">
            <label for="start-date-picker" style="margin-right: 0.5rem;"><b>開始日:</b></label>
            <input type="text" id="start-date-picker" class="date-picker" placeholder="開始日を選択">
            
            <label for="end-date-picker" style="margin-left: 1rem; margin-right: 0.5rem;"><b>終了日:</b></label>
            <input type="text" id="end-date-picker" class="date-picker" placeholder="終了日を選択">
            <button id="reset-zoom" style="margin-left: 1.5rem;">ズームリセット</button>
            <button id="download-csv" style="margin-left: 1rem;">CSVダウンロード</button>
        </div>
        <div class="graph-card" style="width: 80vw; max-width: 80%; height: 50vh;">
            <h2>圧力履歴グラフ</h2>
            <canvas id="pressure-history-graph"></canvas>
        </div>
    </div>
    <script src="{{ url_for('static', filename='history.js') }}"></script>    
</body>
</html>
